.DS_Store
DerivedData
xcuserdata
project.xcworkspace
artifacts
node_modules
shared/test/test_credentials.json
/SalesforceMobileSDK.xcworkspace/xcshareddata/SalesforceMobileSDK.xccheckout
/SalesforceMobileSDK.xcworkspace/xcshareddata/SalesforceMobileSDK.xcscmblueprint
/SalesforceMobileSDK.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/hybrid/SampleApps/ContactExplorer/build/
/hybrid/SampleApps/VFConnector/build/
/libs/SalesforceHybridSDK/build/
/libs/SalesforceReact/build/
/libs/SalesforceSDKCore/build/
/libs/SalesforceAnalytics/build/
/libs/SmartStore/build/
/libs/MobileSync/build/
/native/SampleApps/RestAPIExplorer/build/
node_modules/
.github/
.idea/
package-lock.json
npm-debug.log
index.ios.bundle*
clangReport/
test_output/
.circleci/fastlane/README.md
.circleci/fastlane/report.xml
.build