[submodule "external/callback-ios/PhoneGap"]
	path = external/callback-ios/PhoneGap
	url = https://github.com/forcedotcom/callback-ios.git
[submodule "external/shared"]
	path = external/shared
	url = https://github.com/forcedotcom/SalesforceMobileSDK-Shared-dev.git
[submodule "external/RestKit/RestKit"]
	path = external/RestKit/RestKit
	url = https://github.com/forcedotcom/RestKit.git
[submodule "external/fmdb/fmdb"]
	path = external/fmdb/fmdb
	url = https://github.com/forcedotcom/fmdb.git
