build/artifacts/
configuration/
external/appledoc
external/cordova-ios
external/fmdb
external/ocmock
external/react-native
external/shared/doc/
external/shared/gen/
external/shared/test/
external/shared/tools/
external/shared/samples/accounteditor/
external/shared/samples/contactexplorer/
external/shared/samples/fileexplorer/
external/shared/samples/simplesync/
external/shared/samples/simplesyncreact/
external/shared/samples/smartstoreexplorer/
external/shared/samples/notesync/
external/shared/samples/userandgroupsearch/
external/shared/samples/usersearch/
external/shared/samples/vfconnector/
hybrid/
libs/
native/
shared/
.DS_Store
SalesforceMobileSDK.xcworkspace/
build.md
install.sh
*.podspec
UPGRADE.md
