//
//  Common.xcconfig
//  SalesforceSecurity
//
//  Created by Michael Nachbaur on 2/25/15.
//  Copyright (c) 2015 salesforce.com. All rights reserved.
//

INSTALL_PATH = /
SKIP_INSTALL = YES

PRODUCT_NAME = SalesforceSecurity
OTHER_LDFLAGS = -ObjC $(inherited)

HEADER_SEARCH_PATHS = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited)

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/$(PROJECT_NAME)-Prefix.pch
