<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.salesforce.SalesforceSDK</string>
	<key>CFBundleName</key>
	<string>SalesforceSDK Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>SalesforceSDK Documentation</string>
	<key>DocSetFeedURL</key>
	<string>${env.JOB_URL}lastSuccessfulBuild/artifact/artifacts/Release/Documentation/publish/com.salesforce.SalesforceSDK.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.salesforce.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Salesforce.com</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Salesforce.com. All rights reserved.</string>
</dict>
</plist>
