<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/detect/oauth/done</string>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG98dostKihXN53TYStBIiS8FC2a3tE3XhGId0hQ37iQjF0xe4fxMSb2mFaWZn9e3GiLs1q67TNlyRji.Xw</string>
</dict>
</plist>
