//
//  SmartStore-Common.xcconfig
//  SmartStore
//
//  Created by Bharath Hariharan on 4/7/15.
//  Copyright (c) 2015-present, Salesforce Inc. All rights reserved.
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/$(PROJECT_NAME)-Prefix.pch

PRODUCT_NAME = SmartStore

OTHER_LDFLAGS = -ObjC $(inherited)
OTHER_CFLAGS = -DSQLITE_HAS_CODEC -DFMDatabase=SF_FMDatabase -DFMStatement=SF_FMStatement -DFMDatabasePool=SF_FMDatabasePool -DFMDatabaseQueue=SF_FMDatabaseQueue -DFMResultSet=SF_FMResultSet -DFMDBBlockSQLiteCallBackFunction=SF_FMDBBlockSQLiteCallBackFunction

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/Headers $(TARGET_BUILD_DIR)/Headers $(inherited)
LIBRARY_SEARCH_PATHS = $(SRCROOT)/../../external/ThirdPartyDependencies/sqlcipher $(inherited)

// Make sure to use only API that are safe for application extensions
APPLICATION_EXTENSION_API_ONLY = YES
