//
//  Common.xcconfig
//  SalesforceOAuth
//
//  Created by Michael Nachbaur on 2/25/15.
//  Copyright (c) 2015 salesforce.com. All rights reserved.
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/$(PROJECT_NAME)-Prefix.pch

PRODUCT_NAME = SalesforceOAuth

HEADER_SEARCH_PATHS = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited)

DEPLOYMENT_POSTPROCESSING = NO
