//
//  SalesforceOAuth-Common-Static.xcconfig
//  SalesforceOAuth
//
//  Created by Michael Nachbaur on 2/26/15.
//  Copyright (c) 2015 Salesforce.com. All rights reserved.
//

#include "SalesforceOAuth-Common.xcconfig"

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/Headers $(TARGET_BUILD_DIR)/Headers $(inherited)
