<?xml version="1.0" encoding="utf-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
    id        = "com.salesforce.iossdk"
    version   = "6.0.0">
    <name>Hybrid Test Application</name>
    
    <access origin="https://localhost"/> <!-- allow local pages -->
    <access origin="https://*.force.com" />
    <access origin="https://*.salesforce.com" />
    
    <!-- Preferences for iOS -->
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" /> <!-- page, column -->
    <preference name="PaginationMode" value="unpaginated" /> <!-- unpaginated, leftToRight, topToBottom, bottomToTop, rightToLeft -->
    
    <feature name="com.salesforce.oauth"><param name="ios-package" value="SalesforceOAuthPlugin"/></feature>
    <feature name="com.salesforce.sdkinfo"><param name="ios-package" value="SFSDKInfoPlugin"/></feature>
    <feature name="com.salesforce.sfaccountmanager"><param name="ios-package" value="SFAccountManagerPlugin"/></feature>
    <feature name="com.salesforce.smartstore"><param name="ios-package" value="SFSmartStorePlugin"/></feature>
    <feature name="com.salesforce.smartsync"><param name="ios-package" value="SFSmartSyncPlugin"/></feature>
    <feature name="com.salesforce.network"><param name="ios-package" value="SFNetworkPlugin"/></feature>
    <feature name="com.salesforce.testrunner"><param name="ios-package" value="SFTestRunnerPlugin"/></feature>
    
    <feature name="Console"><param name="ios-package" value="CDVLogger" /></feature>

</widget>


