//
//  Static-iOS-Release.xcconfig
//  SalesforceSDKCore
//
//  Created by Michael Nachbaur on 2/25/15.
//  Copyright (c) 2015-present, salesforce.com. All rights reserved.
//

#include "../../../configuration/Common-iOS.xcconfig"
#include "../../../configuration/Packaging-Static.xcconfig"
#include "../../../configuration/Configuration-Release.xcconfig"
#include "SalesforceSDKCore-Common-Static.xcconfig"
