//
//  Common.xcconfig
//  SalesforceSDKCore
//
//  Created by Michael Nachbaur on 2/25/15.
//  Copyright (c) 2015 salesforce.com. All rights reserved.
//

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/$(PROJECT_NAME)-Prefix.pch

PRODUCT_NAME = SalesforceSDKCore

OTHER_CFLAGS = -DSQLITE_HAS_CODEC -DFMDatabase=SF_FMDatabase -DFMStatement=SF_FMStatement -DFMDatabasePool=SF_FMDatabasePool -DFMDatabaseQueue=SF_FMDatabaseQueue -DFMResultSet=SF_FMResultSet -DFMDBBlockSQLiteCallBackFunction=SF_FMDBBlockSQLiteCallBackFunction $(inherited)
OTHER_LDFLAGS = -ObjC -lsqlcipher

HEADER_SEARCH_PATHS = "$(PROJECT_DIR)/../../external/ThirdPartyDependencies/SalesforceCommonUtils/Headers" $(inherited)
LIBRARY_SEARCH_PATHS = "$(SRCROOT)/../../external/ThirdPartyDependencies/SalesforceCommonUtils" "$(SRCROOT)/../../external/ThirdPartyDependencies/sqlcipher" $(inherited)
