<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9SemV5D80oBcXZ2EUzbcJw6aYF3RcTY1FgYlgnWAA72zHubsit4NKIA.DNcINzbDjz23yUJP3ucnY99F6</string>
	<key>oauthRedirectURI</key>
	<string>testerjwt://mobilesdk/done</string>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
