//
//  SalesforceReact-Common.xcconfig
//  SalesforceReact
//
//  Copyright (c) 2015-present Salesforce Inc. All rights reserved.
//

#include "../../../configuration/Version.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(PROJECT_NAME)/$(PROJECT_NAME)-Prefix.pch
OTHER_LDFLAGS = -ObjC -lc++

PRODUCT_NAME = SalesforceReact

HEADER_SEARCH_PATHS = $(PROJECT_DIR)/node_modules/react-native/React/** $(inherited)
LIBRARY_SEARCH_PATHS = $(SRCROOT)/../../external/ThirdPartyDependencies/sqlcipher $(inherited)

// Make sure to use only API that are safe for application extensions
APPLICATION_EXTENSION_API_ONLY = YES

