//
//  SalesforceReact-Static-iOS-Release.xcconfig
//  SalesforceReact
//
//  Copyright (c) 2015-present Salesforce Inc. All rights reserved.
//

#include "../../../configuration/Common-iOS.xcconfig"
#include "../../../configuration/Packaging-Static.xcconfig"
#include "../../../configuration/Configuration-Release.xcconfig"
#include "SalesforceReact-Common.xcconfig"

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/Headers $(TARGET_BUILD_DIR)/Headers $(PROJECT_DIR)/../../external/react-native/React/Base/
