//
//  SalesforceHybridSDK-Static-iOS-Debug.xcconfig
//  SalesforceHybridSDK
//
//  Created by Bharath Hariharan on 4/7/15.
//  Copyright (c) 2015-present, salesforce.com. All rights reserved.
//

#include "../../../configuration/Common-iOS.xcconfig"
#include "../../../configuration/Packaging-Static.xcconfig"
#include "../../../configuration/Configuration-Debug.xcconfig"
#include "SalesforceHybridSDK-Common.xcconfig"

HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/Headers $(TARGET_BUILD_DIR)/Headers $(PROJECT_DIR)/../../external/cordova-ios/cordova-ios/CordovaLib/Classes/** $(inherited)
