{

"access_token":"__NOT_REQUIRED__",
 
"test_client_id":"__INSERT_REMOTE_ACCESS_CLIENT_KEY_HERE__",

"test_login_domain":"__INSERT_LOGIN_URL_HERE__",

"test_redirect_uri":"__INSERT_REMOTE_ACCESS_CALLBACK_URL_HERE__",

"refresh_token":"__INSERT_TOKEN_HERE__",
 
"instance_url":"__INSERT_INSTANCE_URL_HERE__",

"identity_url":"__INSERT_IDENTITY_URL_HERE__"

}