{

 "access_token":"__NOT_REQUIRED__",
 
"test_client_id":"__CONSUMER_KEY__",

"test_login_domain":"test.salesforce.com",

"test_redirect_uri":"__REDIRECT_URI__",

"refresh_token":"__INSERT_TOKEN_HERE__",
 
"instance_url":"https://cs1.salesforce.com",

"identity_url":"https://test.salesforce.com"

}