<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<!-- Salesforce Mobile SDK Hybrid App Template derived from: -->
    <!-- db.com template v1.0 by Quinton Wall - twitter: @quintonwall -->
    <!-- It's awesome -->
    <dict>
        <key>Ancestors</key>
        <array>
            <string>com.apple.dt.unit.objectiveCApplication</string>
            <string>com.apple.dt.unit.iPhoneBase</string> <!-- Identifier can find in any TemplateInfo.plist -->
        </array>
        <key>Concrete</key> 
        <true/>
        <!-- text displayed in the new project wizard -->
        <key>Description</key>
        <string>This template provides a starting point for building a hybrid Salesforce Mobile SDK application. This provides support for both PhoneGap/callback-ios as well as Visualforce and the Salesforce REST API.</string>
        <key>Identifier</key>
        <string>com.salesforce.mobilesdk.hybrid.template</string>  <!-- must be unique, else template doesn't show in xcode -->
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Platforms</key>
        <array>
            <string>com.apple.platform.iphoneos</string>
        </array>

        <key>Project</key>
        <dict>
            <key>SDK</key>
            <string>iphoneos</string>
            <key>SharedSettings</key>
            <dict>
                <key>ARCHS</key>
                <string>$(ARCHS_STANDARD_32_BIT)</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
                <string>5.0</string>
				<key>SDKROOT</key>
                <string>latest_iphoneos</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>PHONEGAP_FRAMEWORK=YES</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
				<key>CODE_SIGN_IDENTITY</key>
				<string>iPhone Developer</string>
				<!-- GCC_VERSION = com.apple.compilers.llvm.clang.1_0 -->
            </dict>
        </dict>

<!-- add our custom wizard fields -->
<key>Options</key>
<array>
    <dict>
        <key>Consumer Public Key</key>
        <string>The consumer key from your remote access provider</string>
        <key>Identifier</key>
        <string>publicKey</string>
        <key>Name</key>
        <string>Consumer Key</string>
        <key>NotPersisted</key>
        <true/>
        <key>Type</key>
        <string>text</string>
		<!-- We provide default values here for the SalesforceMobileSDK Test App -->
		<key>Default</key>
	<string>3MVG9Iu66FKeHhINkB1l7xt7kR8czFcCTUhgoA8Ol2Ltf1eYHOU4SqQRSEitYFDUpqRWcoQ2.dBv_a1Dyu5xa</string>
    </dict>
    <dict>
        <key>OAuth Redirect URL</key>
        <string>The URL used by OAuth to handle the callback</string>
        <key>Identifier</key>
        <string>redirectURL</string>
        <key>Name</key>
        <string>Redirect URL</string>
        <key>NotPersisted</key>
        <true/>
        <key>Type</key>
        <string>text</string>
		<!-- We provide default values here for the SalesforceMobileSDK Test App -->
		<key>Default</key>
		<string>testsfdc:///mobilesdk/detect/oauth/done</string>
    </dict>
</array>

<key>Definitions</key>
<dict>
	
	<!-- add all of our non-generated files -->
    
	<!-- Supporting Files -->
    <key>___PACKAGENAME___-Prefix.pch</key>
    <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>___PACKAGENAME___-Prefix.pch</string>
    </dict>
	<key>___PACKAGENAME___-Info.plist</key>
	<dict>
		<key>Group</key>
		<array>
			<string>Supporting Files</string>
		</array>
		<key>Path</key>
		<string>./___PACKAGENAME___-Info.plist</string>
		<key>PathType</key>
		<string>Group</string>
		<key>TargetIndices</key>
		<array/>
	</dict>
    <key>main.m</key>
    <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>main.m</string>
    </dict>
    <key>PhoneGap.plist</key>
    <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>PhoneGap.plist</string>
    </dict>
    <key>en.lproj/InfoPlist.strings</key>
    <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>en.lproj/InfoPlist.strings</string>
    </dict>

	<!-- Classes --> 
     <key>Classes/AppDelegate.m</key>
    <dict>
        <key>Group</key>
        <string>Classes</string>
        <key>Path</key>
        <string>Classes/AppDelegate.m</string>
    </dict>
    <key>Classes/AppDelegate.h</key>
    <dict>
        <key>Group</key>
        <string>Classes</string>
        <key>Path</key>
        <string>Classes/AppDelegate.h</string>
    </dict>


    <key>readme.md</key>
    <dict>
        <key>Path</key>
        <string>readme.md</string>
    </dict>


    <key>Plugins/README</key>
	<dict>
		<key>Group</key>
        <string>Plugins</string>
        <key>Path</key>
        <string>Plugins/README</string>
	</dict>

	<key>www</key>
	<dict>
		<key>PathType</key>
		<string>Group</string>
	    <key>Path</key>
	    <string>www</string>
	</dict>


	<key>PhoneGapResources.bundle</key>
	<dict>
		<key>PathType</key>
		<string>Group</string>
		<key>Path</key>
		<string>PhoneGapResources.bundle</string>
		<key>FileType</key>
		<string>wrapper.plug-in</string>
	</dict>
	
	<key>Settings.bundle</key>
	<dict>
		<key>PathType</key>
		<string>Group</string>
		<key>Path</key>
		<string>Settings.bundle</string>
		<key>FileType</key>
		<string>wrapper.plug-in</string>
	</dict>
	
	
	<key>SalesforceHybridSDK.framework</key>
	<dict>
		<key>PathType</key>
		<string>Group</string>
		<key>Path</key>
		<string>dependencies/SalesforceHybridSDK/SalesforceHybridSDK.framework</string>
		<key>FileType</key>
		<string>wrapper.framework</string>
	</dict>

	<key>libsqlite3.dylib</key>
	<dict>
		<key>PathType</key>
		<string>DeveloperDir</string>
		<key>Path</key>
		<string>/usr/lib/libsqlite3.dylib</string>
		<key>FileType</key>
		<string>wrapper.framework</string>
	</dict>
	

	
	


	<!-- generated in part by using template_generator.py 
	https://github.com/MrGando/Xcode-4-Template-Generator/
	-->
	<!-- begin generated dependencies section -->
	
	<key>Resources/icons/icon-72.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>icons</string>
		</array>
		<key>Path</key>
		<string>Resources/icons/icon-72.png</string>
	</dict>

	<key>Resources/icons/icon.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>icons</string>
		</array>
		<key>Path</key>
		<string>Resources/icons/icon.png</string>
	</dict>

	<key>Resources/icons/icon@2x.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>icons</string>
		</array>
		<key>Path</key>
		<string>Resources/icons/icon@2x.png</string>
	</dict>

	<key>Resources/splash/Default-Portrait~ipad.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>splash</string>
		</array>
		<key>Path</key>
		<string>Resources/splash/Default-Portrait~ipad.png</string>
	</dict>
	
	<key>Resources/splash/Default-Landscape~ipad.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>splash</string>
		</array>
		<key>Path</key>
		<string>Resources/splash/Default-Landscape~ipad.png</string>
	</dict>

	<key>Resources/splash/Default.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>splash</string>
		</array>
		<key>Path</key>
		<string>Resources/splash/Default.png</string>
	</dict>

	<key>Resources/splash/Default@2x.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>splash</string>
		</array>
		<key>Path</key>
		<string>Resources/splash/Default@2x.png</string>
	</dict>

	<key>Resources/splash/Default~iPad.png</key>
	<dict>
		<key>Group</key>			
		<array>
			<string>Resources</string>
			<string>splash</string>
		</array>
		<key>Path</key>
		<string>Resources/splash/Default~iPad.png</string>
	</dict>
	
	
	<!-- end generated dependencies section -->

</dict>

<!-- Nodes section -->
<key>Nodes</key>
<array>
	<string>www</string>
	
	<!-- generated in part by using template_generator.py 
	https://github.com/MrGando/Xcode-4-Template-Generator/
	-->
	<!-- begin generated dependencies -->

	<string>SalesforceHybridSDK.framework</string>
	<string>libsqlite3.dylib</string>
		
	
	<string>Resources/icons/icon-72.png</string>
	<string>Resources/icons/icon.png</string>
	<string>Resources/icons/icon@2x.png</string>
	<string>Resources/splash/Default-Landscape~ipad.png</string>
	<string>Resources/splash/Default-Portrait~ipad.png</string>
	<string>Resources/splash/Default.png</string>
	<string>Resources/splash/Default@2x.png</string>
	<string>Resources/splash/Default~iPad.png</string>
	<!-- end generated dependencies -->
	
    <string>readme.md</string>

    <!-- Classes -->
    <string>Classes/AppDelegate.h</string>
    <string>Classes/AppDelegate.m</string>

	
	<!-- Plugins -->
	<string>Plugins/README</string>
	
    <!-- views -->

    <!-- supporting files -->
    <string>___PACKAGENAME___-Prefix.pch</string>
    <string>___PACKAGENAME___-Info.plist</string>
    <string>main.m</string>
    <string>PhoneGap.plist</string>
    <string>en.lproj/InfoPlist.strings</string>

    <!-- resources -->

	<string>Settings.bundle</string>
	<string>PhoneGapResources.bundle</string>

	

</array>
<key>Targets</key>
<array>
    <dict>
        <key>Summary</key>
	        <array>
	            <dict>
	                <key>iOSApplicationTarget</key>
	                <dict>
	                    <key>Devices</key>
	                    <string>Universal</string>
	                </dict>
	            </dict>
	        </array>
        <key>BuildPhases</key>
	        <array>
	            <dict>
	                <key>Class</key>
	                <string>Sources</string> <!-- Add Build Phase Compile Source -->
	            </dict>
				<dict>
					<!-- Add Build Phase Copy Files 
					That allows stuffing files into www 
					-->
					<key>Class</key>
					<string>CopyFiles</string> 
					<key>DstPath</key>
					<string>www</string>
					<key>DstSubfolderSpec</key>
					<string>7</string>
				</dict>
	    	</array>
	 	<key>BuildSettings</key>
	        <array>
	          <dict>
	            <key>Objective-CAutomaticReferenceCounting</key>
	            <string>NO</string>
	          </dict>
	        </array>
    <key>Frameworks</key>
    <array>
		<string>Foundation</string>
		<string>UIKit</string>
		<string>CFNetwork</string>
		<string>CoreGraphics</string>
		<string>CoreLocation</string>
		<string>CoreMedia</string>
        <string>QuartzCore</string>
        <string>Security</string>
        <string>MobileCoreServices</string>
		<string>AddressBook</string>
		<string>AddressBookUI</string>
		<string>AudioToolbox</string>
		<string>AVFoundation</string>
		<string>MediaPlayer</string>
		<string>SystemConfiguration</string>
    </array>
</dict>
</array>

</dict>
</plist>
