<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCApplication</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for building a hybrid Salesforce Mobile SDK application. This provides support for both Cordova as well as Visualforce and the Salesforce REST API.</string>
	<key>Identifier</key>
	<string>com.salesforce.mobilesdk.hybrid.template</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>ALWAYS_SEARCH_USER_PATHS</key>
			<string>YES</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>5.0</string>
			<key>SDKROOT</key>
			<string>latest_iphoneos</string>
			<key>GCC_PREPROCESSOR_DEFINITIONS</key>
			<string>CORDOVA_FRAMEWORK=1</string>
			<key>OTHER_LDFLAGS</key>
			<string>-ObjC -all_load</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>CODE_SIGN_IDENTITY</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Consumer Public Key</key>
			<string>The consumer key from your remote access provider</string>
			<key>Identifier</key>
			<string>publicKey</string>
			<key>Name</key>
			<string>Consumer Key</string>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>3MVG9Iu66FKeHhINkB1l7xt7kR8czFcCTUhgoA8Ol2Ltf1eYHOU4SqQRSEitYFDUpqRWcoQ2.dBv_a1Dyu5xa</string>
		</dict>
		<dict>
			<key>OAuth Redirect URL</key>
			<string>The URL used by OAuth to handle the callback</string>
			<key>Identifier</key>
			<string>redirectURL</string>
			<key>Name</key>
			<string>Redirect URL</string>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>testsfdc:///mobilesdk/detect/oauth/done</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PACKAGENAME___-Prefix.pch</string>
		</dict>
		<key>___PACKAGENAME___-Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./___PACKAGENAME___-Info.plist</string>
			<key>PathType</key>
			<string>Group</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Cordova.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Cordova.plist</string>
		</dict>
		<key>en.lproj/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>en.lproj/InfoPlist.strings</string>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.m</string>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/AppDelegate.h</string>
		</dict>
		<key>readme.md</key>
		<dict>
			<key>Path</key>
			<string>readme.md</string>
		</dict>
		<key>Plugins/README</key>
		<dict>
			<key>Group</key>
			<string>Plugins</string>
			<key>Path</key>
			<string>Plugins/README</string>
		</dict>
		<key>www</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>Path</key>
			<string>www</string>
		</dict>
		<key>CordovaResources.bundle</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>Path</key>
			<string>CordovaResources.bundle</string>
			<key>FileType</key>
			<string>wrapper.plug-in</string>
		</dict>
		<key>Settings.bundle</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>Path</key>
			<string>Settings.bundle</string>
			<key>FileType</key>
			<string>wrapper.plug-in</string>
		</dict>
		<key>SalesforceHybridSDK.framework</key>
		<dict>
			<key>PathType</key>
			<string>Group</string>
			<key>Path</key>
			<string>dependencies/SalesforceHybridSDK/SalesforceHybridSDK.framework</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>libz.dylib</key>
		<dict>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>Path</key>
			<string>/usr/lib/libz.dylib</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
		</dict>
		<key>Resources/icons/icon-72.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>Resources/icons/icon-72.png</string>
		</dict>
		<key>Resources/icons/icon-72@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>Resources/icons/icon-72@2x.png</string>
		</dict>
		<key>Resources/icons/icon.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>Resources/icons/icon.png</string>
		</dict>
		<key>Resources/icons/icon@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>Resources/icons/icon@2x.png</string>
		</dict>
		<key>Resources/splash/Default-Portrait~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default-Portrait~ipad.png</string>
		</dict>
		<key>Resources/splash/Default-Portrait@2x~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default-Portrait@2x~ipad.png</string>
		</dict>
		<key>Resources/splash/Default-Landscape~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default-Landscape~ipad.png</string>
		</dict>
		<key>Resources/splash/Default-Landscape@2x~ipad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default-Landscape@2x~ipad.png</string>
		</dict>
		<key>Resources/splash/Default.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default.png</string>
		</dict>
		<key>Resources/splash/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default@2x.png</string>
		</dict>
		<key>Resources/splash/Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default-568h@2x.png</string>
		</dict>
		<key>Resources/splash/Default~iPad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>Resources/splash/Default~iPad.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>www</string>
		<string>SalesforceHybridSDK.framework</string>
		<string>libz.dylib</string>
		<string>Resources/icons/icon-72.png</string>
		<string>Resources/icons/icon-72@2x.png</string>
		<string>Resources/icons/icon.png</string>
		<string>Resources/icons/icon@2x.png</string>
		<string>Resources/splash/Default-Landscape~ipad.png</string>
		<string>Resources/splash/Default-Landscape@2x~ipad.png</string>
		<string>Resources/splash/Default-Portrait~ipad.png</string>
		<string>Resources/splash/Default-Portrait@2x~ipad.png</string>
		<string>Resources/splash/Default.png</string>
		<string>Resources/splash/Default@2x.png</string>
		<string>Resources/splash/Default-568h@2x.png</string>
		<string>Resources/splash/Default~iPad.png</string>
		<string>readme.md</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Plugins/README</string>
		<string>___PACKAGENAME___-Prefix.pch</string>
		<string>___PACKAGENAME___-Info.plist</string>
		<string>main.m</string>
		<string>Cordova.plist</string>
		<string>en.lproj/InfoPlist.strings</string>
		<string>Settings.bundle</string>
		<string>CordovaResources.bundle</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Summary</key>
			<array>
				<dict>
					<key>iOSApplicationTarget</key>
					<dict>
						<key>Devices</key>
						<string>Universal</string>
					</dict>
				</dict>
			</array>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>CopyFiles</string>
					<key>DstPath</key>
					<string>www</string>
					<key>DstSubfolderSpec</key>
					<string>7</string>
				</dict>
			</array>
			<key>BuildSettings</key>
			<array>
				<dict>
					<key>Objective-CAutomaticReferenceCounting</key>
					<string>NO</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
				<string>UIKit</string>
				<string>CFNetwork</string>
				<string>CoreGraphics</string>
				<string>CoreLocation</string>
				<string>CoreMedia</string>
				<string>QuartzCore</string>
				<string>Security</string>
				<string>MobileCoreServices</string>
				<string>AddressBook</string>
				<string>AddressBookUI</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>MediaPlayer</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
